NET "clock"     LOC="C9"  | IOSTANDARD=LVCMOS33;
NET "reset"     LOC="K17" | IOSTANDARD=LVTTL | PULLDOWN;
NET "vga_r"     LOC="H14" | IOSTANDARD=LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_b"     LOC="G15" | IOSTANDARD=LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_g"     LOC="H15" | IOSTANDARD=LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_hsync" LOC="F15" | IOSTANDARD=LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "vga_vsync" LOC="F14" | IOSTANDARD=LVTTL | DRIVE = 8 | SLEW = FAST ;
